<%- include('includes/head.ejs') %>
    </head>

    <body>
        <%- include('includes/navigation.ejs') %>
            <h1>Error has occured !</h1>
            <p>
                Error has occured, Sorry for that, we are working on solving it
            </p>

            <%- include('includes/end.ejs') %>